@inject IProductService ProductService
@inject ICartService CartService
@implements IDisposable

<!--=================================
       Hero Area
   ===================================== -->
<section class="hero-area hero-slider-3">
    <div class="sb-slick-slider slick-initialized slick-slider slick-dotted">
        <BlazorSlickCarousel @ref="TopBanner" Configurations="TopBannerconfigurations">
            <BlazorSlickCarouselContent>
                <div class="single-slide bg-image  bg-overlay--dark" style="background-image: url(Shop/image/bg-images/home-3-slider-1.jpg);">
                    <div class="container">
                        <div class="home-content text-center">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                    <h1>Beautifully Designed</h1>
                                    <h2>
                                        Cover up front of book and
                                        <br>leave summary
                                    </h2>
                                    <a href="/shop" class="btn btn--yellow">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide bg-image  bg-overlay--dark" style="background-image: url(Shop/image/bg-images/home-3-slider-2.jpg);">
                    <div class="container">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>I Love This Idea!</h1>
                                    <h2>
                                        Cover up front of book and
                                        <br>leave summary
                                    </h2>
                                    <a href="/shop" class="btn btn--yellow">
                                        Shop Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </BlazorSlickCarouselContent>
            <BlazorSlickCarouselLoading>
                Loading.....
            </BlazorSlickCarouselLoading>
        </BlazorSlickCarousel>
    </div>
</section>
<!--=================================
        Home Category Gallery
    ===================================== -->
<section class="pt--30 section-margin">
    <h2 class="sr-only">Category Gallery Section</h2>
    <div class="container">
        <div class="category-gallery-block">
            <a href="/shop" class="single-block hr-large">
                <img src="Shop/image/others/cat-gal-large.png" alt="">
            </a>
            <div class="single-block inner-block-wrapper">
                <a href="/shop" class="single-image mid-image">
                    <img src="Shop/image/others/cat-gal-mid.png" alt="">
                </a>
                <a href="/shop" class="single-image small-image">
                    <img src="Shop/image/others/cat-gal-small.png" alt="">
                </a>
                <a href="/shop" class="single-image small-image">
                    <img src="Shop/image/others/cat-gal-small-2.jpg" alt="">
                </a>
                <a href="/shop" class="single-image mid-image">
                    <img src="Shop/image/others/cat-gal-mid-2.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!--=================================
    FEATURED PRODUCTS
===================================== -->
<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered">
            <h2>TOP PRODUCTS TO DAY</h2>
        </div>
        <div class="product-slider sb-slick-slider slider-border-single-row">
            @if (ProductService.Products == null || ProductService.Products.Count == 0)
            {
                <span>@ProductService.Message</span>
            }
            else
            {
                <BlazorSlickCarousel @ref="TopBanner" Configurations="TopProductsconfigurations">
                    <BlazorSlickCarouselContent>
                        @foreach (var product in ProductService.Products)
                        {
                            @if (product.Featured)
                            {
                                <div class="single-slide">
                                    <div class="product-card">
                                        <div class="product-header">
                                            <a href="#" class="author">
                                                Lpple
                                            </a>
                                            <h3><a href="product/@product.Id">@product.Title</a></h3>
                                        </div>
                                        <div class="product-card--body">
                                            <div class="card-image">
                                                <img src="@product.ImageUrl" alt="">
                                                <div class="hover-contents">
                                                    <a href="product/@product.Id" class="hover-image">
                                                        <img src="@product.ImageUrl" alt="">
                                                    </a>
                                                    <div class="hover-btns">
                                                        <a  @onclick="@(()=> AddToCart(product))" class="single-btn">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </a>
                                                        <a href="wishlist.html" class="single-btn">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price-block">
                                                @if (product.Variants.Count == 0)
                                                {
                                                    <span class="price">Empty</span>
                                                }
                                                else if (product.Variants.Count >= 1)
                                                {
                                                    @if (product.Variants[0].OriginalPrice > product.Variants[0].Price)
                                                    {
                                                        <span class="price">$ @product.Variants[0].Price</span>
                                                        <del class="price-old">$ @product.Variants[0].OriginalPrice</del>
                                                        <span class="price-discount">Sale</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="price">$ @product.Variants[0].Price</span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
                    </BlazorSlickCarouselContent>
                    <BlazorSlickCarouselLoading>
                        Loading...
                    </BlazorSlickCarouselLoading>
                </BlazorSlickCarousel>
            }
        </div>
    </div>
</section>
<!--=================================
        Home Features Section
    ===================================== -->
<section class="mb--30 space-dt--30">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="text">
                        <h5>Free Shipping Item</h5>
                        <p> Orders over $500</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-redo-alt"></i>
                    </div>
                    <div class="text">
                        <h5>Money Back Guarantee</h5>
                        <p>100% money back</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-piggy-bank"></i>
                    </div>
                    <div class="text">
                        <h5>Cash On Delivery</h5>
                        <p>Lorem ipsum dolor amet</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt--30">
                <div class="feature-box h-100">
                    <div class="icon">
                        <i class="fas fa-life-ring"></i>
                    </div>
                    <div class="text">
                        <h5>Help & Support</h5>
                        <p>Call us : + 0123.4567.89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
        Promotion Section One
    ===================================== -->
<section class="section-margin">
    <h1 class="sr-only">Promotion Section</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="promo-image promo-overlay">
                    <img src="Shop/image/bg-images/promo-banner-with-text.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="promo-image promo-overlay">
                    <img src="Shop/image/bg-images/promo-banner-with-text-2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!--=================================
       CLIENT TESTIMONIALS
   ===================================== -->
<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered mb-lg--60">
            <h2>CLIENT TESTIMONIALS</h2>
        </div>
        <div class="sb-slick-slider testimonial-slider">
            <BlazorSlickCarousel @ref="TopBanner" Configurations="ClientTestimonialsconfig">
                <BlazorSlickCarouselContent>
                    <div class="single-slide">
                        <div class="testimonial-card">
                            <div class="testimonial-image">
                                <img src="Shop/image/others/client-1.png" alt="">
                            </div>
                            <div class="testimonial-body">
                                <article>
                                    <h2 class="sr-only">Testimonial Article</h2>
                                    <p>
                                        version This is Photoshops of Lorem Ipsum. Proin gravida nibh vel velit.Lorem
                                        ipsum dolor sit amet, consectetur
                                        adipiscing elit. In molestie augue magna. Pell..
                                    </p>
                                    <span class="d-block client-name">Rebecka Filson</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card">
                            <div class="testimonial-image">
                                <img src="Shop/image/others/client-2.png" alt="">
                            </div>
                            <div class="testimonial-body">
                                <article>
                                    <h2 class="sr-only">Testimonial Article</h2>
                                    <p>
                                        In molestie augue magna.This is Photoshops version of Lorem Ipsum. Proin gravida
                                        nibh vel velit.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Pell..
                                    </p>
                                    <span class="d-block client-name">Rebecka Filson</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card">
                            <div class="testimonial-image">
                                <img src="Shop/image/others/client-3.png" alt="">
                            </div>
                            <div class="testimonial-body">
                                <article>
                                    <h2 class="sr-only">Testimonial Article</h2>
                                    <p>
                                        Lorem Ipsum This is Photoshops version of . Proin gravida nibh vel velit.Lorem
                                        ipsum dolor sit amet, consectetur
                                        adipiscing elit. In molestie augue magna. Pell..
                                    </p>
                                    <span class="d-block client-name">Rebecka Filson</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card">
                            <div class="testimonial-image">
                                <img src="Shop/image/others/client-4.png" alt="">
                            </div>
                            <div class="testimonial-body">
                                <article>
                                    <h2 class="sr-only">Testimonial Article</h2>
                                    <p>
                                        elit. In molestie This is Photoshops version of Lorem Ipsum. Proin gravida nibh
                                        vel velit.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing augue magna. Pell..
                                    </p>
                                    <span class="d-block client-name">Rebecka Filson</span>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card">
                            <div class="testimonial-image">
                                <img src="Shop/image/others/client-5.png" alt="">
                            </div>
                            <div class="testimonial-body">
                                <article>
                                    <h2 class="sr-only">Testimonial Article</h2>
                                    <p>
                                        Pell Photoshops version of Lorem Ipsum. Proin gravida nibh vel velit.Lorem ipsum
                                        dolor sit amet, consectetur
                                        adipiscing elit. In molestie augue magna. This is..
                                    </p>
                                    <span class="d-block client-name">Rebecka Filson</span>
                                </article>
                            </div>
                        </div>
                    </div>
                </BlazorSlickCarouselContent>
                <BlazorSlickCarouselLoading>
                    Loading...
                </BlazorSlickCarouselLoading>
            </BlazorSlickCarousel>

        </div>
    </div>
</section>

